 .u-section-1 {
  background-image: url("images/comomontarseupoke.png");
  background-position: 50% 8.56%;
}

.u-section-1 .u-sheet-1 {
  min-height: 76px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  letter-spacing: normal;
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 11.77%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 11px auto 60px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 76px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 237px;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 81px;
  }

  .u-section-2 .u-text-1 {
    margin: 0 -137px 15px 137px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  width: auto;
  margin: 27px auto 0;
}

.u-section-3 .u-products-1 {
  width: 656px;
  margin: 40px 0 33px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  grid-gap: 27px 27px;
  min-height: 527px;
  width: 656px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-products-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-products-1 {
    width: 666px;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 15px 15px;
    min-height: 342px;
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-image-1 {
    height: 179px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-image-2 {
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-products-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 506px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 506px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-products-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 365px;
  }

  .u-section-3 .u-image-2 {
    height: 365px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 686px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  width: auto;
  margin: 47px auto 0;
}

.u-section-4 .u-products-1 {
  height: auto;
  margin: 50px auto 50px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1068px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-6 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-4 .u-products-1 {
    margin-top: 19px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 600px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-1 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-2 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-3 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-4 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-5 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-6 {
    height: 113px;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    min-height: 1379px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 3534px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  width: 522px;
  margin: 40px auto 0;
}

.u-section-5 .u-products-1 {
  height: auto;
  margin: 50px auto 51px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-7 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-image-8 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-image-9 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px;
}

.u-section-5 .u-image-10 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px;
}

.u-section-5 .u-image-11 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px;
}

.u-section-5 .u-image-12 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-13 {
  padding: 30px;
}

.u-section-5 .u-image-13 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-14 {
  padding: 30px;
}

.u-section-5 .u-image-14 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-15 {
  padding: 30px;
}

.u-section-5 .u-image-15 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-16 {
  padding: 30px;
}

.u-section-5 .u-image-16 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-17 {
  padding: 30px;
}

.u-section-5 .u-image-17 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-18 {
  padding: 30px;
}

.u-section-5 .u-image-18 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-19 {
  padding: 30px;
}

.u-section-5 .u-image-19 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-19 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-20 {
  padding: 30px;
}

.u-section-5 .u-image-20 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-20 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 81px;
  }

  .u-section-5 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-7 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-8 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-9 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-10 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-11 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-12 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-13 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-14 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-15 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-16 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-17 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-18 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-19 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-20 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-5 .u-products-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px);
    grid-gap: 17px 17px;
    min-height: 1703px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-1 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-2 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-3 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-4 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-5 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-6 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-7 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-8 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-9 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-10 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-11 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-12 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-12 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-13 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-14 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-14 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-15 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-15 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-16 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-16 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-17 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-17 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-18 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-18 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-18 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-19 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-19 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-20 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }

  .u-section-5 .u-image-20 {
    height: 119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-21 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    min-height: 5266px;
  }

  .u-section-5 .u-image-1 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-7 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-8 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-9 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-10 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-11 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-12 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-13 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-14 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-15 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-16 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-17 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-18 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-19 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-20 {
    height: 497px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-7 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-8 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-9 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-10 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-11 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-12 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-13 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-14 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-15 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-16 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-17 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-18 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-19 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-20 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-6 .u-text-1 {
  width: 545px;
  font-size: 2.25rem;
  margin: 51px auto 0;
}

.u-section-6 .u-products-1 {
  height: auto;
  margin: 50px auto 50px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-7 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-7 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-image-8 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-8 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-image-9 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px;
}

.u-section-6 .u-image-10 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-10 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px;
}

.u-section-6 .u-image-11 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-11 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-12 {
  padding: 30px;
}

.u-section-6 .u-image-12 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 30px;
}

.u-section-6 .u-image-13 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-13 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-14 {
  padding: 30px;
}

.u-section-6 .u-image-14 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-14 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-15 {
  padding: 30px;
}

.u-section-6 .u-image-15 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-16 {
  padding: 30px;
}

.u-section-6 .u-image-16 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-16 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-17 {
  padding: 30px;
}

.u-section-6 .u-image-17 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-17 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-18 {
  padding: 30px;
}

.u-section-6 .u-image-18 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-19 {
  padding: 30px;
}

.u-section-6 .u-image-19 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-19 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-container-layout-20 {
  padding: 30px;
}

.u-section-6 .u-image-20 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-20 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-5 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-6 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-7 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-8 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-9 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-10 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-11 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-12 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-13 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-14 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-15 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-16 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-17 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-18 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-19 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-20 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-products-1 {
    margin-top: -11px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 1510px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-1 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-2 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-3 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-4 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-5 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-6 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-7 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-8 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-9 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-10 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-11 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-12 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-13 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-14 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-15 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-15 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-16 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-16 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-17 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-17 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-17 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-18 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-18 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-18 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-19 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-19 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-19 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-20 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-container-layout-20 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-image-20 {
    height: 122px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-21 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 4530px;
  }

  .u-section-6 .u-image-1 {
    height: 121px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 121px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    height: 121px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    height: 121px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-5 {
    height: 121px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    height: 121px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-7 {
    height: 121px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-8 {
    height: 121px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-9 {
    height: 121px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-10 {
    height: 121px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-11 {
    height: 121px;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-12 {
    height: 121px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-13 {
    height: 121px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-14 {
    height: 121px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-15 {
    height: 121px;
  }

  .u-section-6 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-16 {
    height: 121px;
  }

  .u-section-6 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-17 {
    height: 121px;
  }

  .u-section-6 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-18 {
    height: 121px;
  }

  .u-section-6 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-19 {
    height: 121px;
  }

  .u-section-6 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-20 {
    height: 121px;
  }

  .u-section-6 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 694px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  width: auto;
  margin: 49px auto 0;
}

.u-section-7 .u-products-1 {
  height: auto;
  margin: 50px auto 50px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1068px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 308px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-5 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-6 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-products-1 {
    margin-top: -9px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 590px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-5 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .u-section-7 .u-image-6 {
    height: 112px;
    width: 154px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1327px;
  }

  .u-section-7 .u-image-1 {
    height: 111px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 111px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 111px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 111px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    height: 111px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    height: 111px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-8 {
  display: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1178px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 991px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 575px;
}

.u-section-9 .u-list-1 {
  width: 224px;
  margin: 151px auto 0 30px;
}

.u-section-9 .u-repeater-1 {
  min-height: 180px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-9 .u-btn-4 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-9 .u-btn-5 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-9 .u-btn-1 {
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 56px 8px 54px;
  }

  .u-section-9 .u-btn-2 {
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 56px 8px 54px;
  }

  .u-section-9 .u-btn-3 {
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 56px 8px 54px;
  }

  .u-section-9 .u-btn-4 {
    font-weight: 700;
    margin: -77px 66px 0 auto;
    padding: 8px 50px 8px 49px;
  }

  .u-section-9 .u-btn-5 {
    font-weight: 700;
    margin: 66px 0 60px;
    padding: 7px 296px 8px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-btn-4 {
    margin-top: 20px;
    margin-right: 0;
  }
}@font-face {
  font-family: 'nexa-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nexa-bold.ttf);
}