 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 836px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 53px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 88px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 592px;
  grid-gap: 50px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  line-height: 2;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    min-height: 319px;
    grid-gap: 50px 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    letter-spacing: 1px;
    margin: -458px auto 60px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}@font-face {
  font-family: 'nexa-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nexa-bold.ttf);
}